DATAMISSION_API_BASE_URL=https://api.datamission.com.br
DATAMISSION_API_TOKEN=<YOUR_API_TOKEN>
DATAMISSION_PROJECT_ID=<YOUR_PROJECT_ID>
DATAMISSION_DEFAULT_FORMAT=parquet
PIPELINE_BASE_DIR=.
PIPELINE_TIMEOUT_SECONDS=30
PIPELINE_MAX_RETRIES=3
PIPELINE_RETRY_BACKOFF_SECONDS=1.5
